<footer class="bg-main-light py-5">

    <div class="container w-11/12 mx-auto">


        <article class="py-2">
            <h4>{{"footer.messageFooter"|translate}}</h4>

        </article>

        <div class="input flex justify-center gap-x-2 py-4">
            <input class="flex-grow" type="text" placeholder="Email.. ">
            <button class=" btn-main px-0">{{"footer.btnfooter"|translate}}</button>
        </div>

        <div class="flex flex-col md:flex-row justify-between  border-t border-t-black py-4 mt-5">

            <div class="left flex justify-center items-center gap-x-2">
                <p>{{"footer.payment"|translate}} </p>
                <img class="w-12" src="./assets/images/amazon-pay.png" alt="">
                <img class="w-12" src="./assets/images/American-Express-Color.png" alt="">
                <img class="w-12" src="./assets/images/paypal.png" alt="">
            </div>
            <div class="right flex justify-center items-center gap-x-2">
                <p>{{"footer.GetDeliverise"|translate}} </p>
                <img class="w-12" src="./assets/images/get-google-play.png" alt="">
                <img class="w-12" src="./assets/images/get-apple-store.png" alt="">
            </div>

        </div>
    </div>


</footer>