<!--  input for set eamil  -->
<div class="w-10/12 mx-auto py-2 overflow-hidden">


    <!-------<< email >>------- -->

    @if (!isSendCode && !isRestNewPassword) {

    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center">

        <div class=" shadow-lg border rounded-3xl bg-green-50 px-2 py-10">
            <form [formGroup]="sendEmailForm" class=" w-10/12 mx-auto animate__animated animate__fadeInRight "
                (ngSubmit)="sendEmailData()">
                <div class="">
                    <label class="font-semibold px-1" for="email">{{"Regester.email"|translate}}</label>
                    <input formControlName="email" id="email" placeholder="EX : mostafa@gmail.com"
                        class=" my-1 border border-black block w-full  px-2 rounded-lg py-1" type="text">
                    @if (sendEmailForm.get('email')?.errors && sendEmailForm.get('email')?.touched) {
                    <div class=" animate__animated text-white font-bold animate__bounceIn bg-red-400 rounded-lg">
                        @if (sendEmailForm.get('email')?.errors?.['required']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This field is
                            Required

                        </p>
                        }@else if (sendEmailForm.get('email')?.errors?.['email']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This email is
                            invalid
                        </p>
                        }
                    </div>
                    }
                </div>

                @if (errorMessage) {
                <div>
                    <p class="px-2 py-1 bg-orange-400 rounded-xl text-white  animate__animated animate__bounceIn">
                        {{errorMessage}} " </p>
                </div>
                }
                <!--  << btn >> -->
                <div class="flex justify-center my-4  items-center ">
                    <button [disabled]="sendEmailForm.invalid " type="submit"
                        class="btn-main transition-all   w-1/2 ">{{"forgetPass.submit"|translate}}
                        @if (isloding) {<i class="fa-solid fa-spinner fa-spin px-2"></i>}
                    </button>
                </div>


            </form>
        </div>

        <div>
            <img class="w-full p-20 animate__animated   animate__fadeInLeft" src="./assets/images/auth/foregitpass2.jpg"
                alt="">
        </div>


    </div>



    }

    <!-------<< code >>------- -->

    @if (isSendCode ) {

    <div class="grid grid-cols-2 items-center justify-center">

        <div>
            <div> <img class="w-full p-20  animate__animated animate__fadeInLeft" src="./assets/images/auth/sms.gif"
                    alt="auth_resCode_img"> </div>
        </div>

        <div class=" shadow-lg border rounded-3xl bg-green-50 px-2 py-10 animate__animated animate__fadeInRight">
            <form [formGroup]="verifyCodeForm" class="py-2 w-10/12 mx-auto " (ngSubmit)="verifyCodelData()">
                <div class=" py-0.5">
                    <label class="font-semibold px-1" for="code">{{"forgetPass.restCode"|translate}}</label>
                    <input formControlName="resetCode" id="code" placeholder="insert code  "
                        class=" my-1 border border-black block w-full  px-2 rounded-lg py-1" type="text">
                    @if (verifyCodeForm.get('resetCode')?.errors && verifyCodeForm.get('resetCode')?.touched) {
                    <div class=" animate__animated text-white font-bold animate__bounceIn bg-red-400 rounded-lg">
                        @if (verifyCodeForm.get('resetCode')?.errors?.['required']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This field is
                            Required

                        </p>
                        }@else if (verifyCodeForm.get('resetCode')?.errors?.['pattern']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This code is
                            invalid
                        </p>
                        }
                    </div>
                    }
                </div>

                @if (errorMessage) {
                <div>
                    <p class="px-2 py-1 bg-orange-400 rounded-xl text-white  animate__animated animate__bounceIn">
                        {{errorMessage}} </p>
                </div>
                }

                <!--  << btn-main >> -->
                <div class="flex justify-center my-4  items-center ">
                    <button [disabled]="sendEmailForm.invalid" type="submit"
                        class="btn-main transition-all  w-1/2 ">{{"forgetPass.sendcode"|translate}}
                        @if (isloding) {<i class="fa-solid fa-spinner fa-spin px-2"></i>}
                    </button>
                </div>


            </form>
        </div>
    </div>
    }

    <!-------<< new pass >>------- -->

    @if (isRestNewPassword) {


    <div class="grid grid-cols-2 items-center justify-center">
        <div class="shadow-lg border rounded-3xl bg-green-50 px-2 py-10 animate__animated animate__fadeInLeft">
            <form [formGroup]="resetPasswordForm" class="py-10 w-10/12 mx-auto" (ngSubmit)="restNewPass()">
                <div class=" py-0.5">
                    <label class="font-semibold px-1" for="email">{{"Regester.email"|translate}}</label>
                    <input readonly formControlName="email" id="email" placeholder="EX : mostafa@gmail.com"
                        class=" my-1 border border-black block w-full  px-2 rounded-lg py-1" type="text">
                    @if (resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched) {
                    <div class=" animate__animated text-white font-bold animate__bounceIn bg-red-400 rounded-lg">
                        @if (resetPasswordForm.get('email')?.errors?.['required']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This field is
                            Required

                        </p>
                        }@else if (resetPasswordForm.get('email')?.errors?.['email']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This email is
                            invalid
                        </p>
                        }
                    </div>
                    }
                </div>


                <div class=" py-4">
                    <label class="font-semibold px-1" for="email">{{"forgetPass.newPassword"|translate}}</label>
                    <input formControlName="newPassword" id="email" placeholder="newPassword"
                        class=" my-1 border border-black block w-full  px-2 rounded-lg py-1" type="text">
                    @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched)
                    {
                    <div class=" animate__animated text-white font-bold animate__bounceIn bg-red-400 rounded-lg">
                        @if (resetPasswordForm.get('newPassword')?.errors?.['required']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This field is
                            Required

                        </p>
                        }@else if (resetPasswordForm.get('newPassword')?.errors?.['pattern']) {
                        <p class="p-1 animate__animated text-white font-bold animate__bounceIn  px-2">This Password is
                            invalid
                        </p>
                        }
                    </div>
                    }
                </div>

                @if (errorMessage) {
                <div>
                    <p class="px-2 py-1 bg-orange-400 rounded-xl text-white  animate__animated animate__bounceIn">
                        {{errorMessage}} </p>
                </div>
                }

                <!--  << btn-main >> -->
                <div class="flex justify-center my-4  items-center ">
                    <button [disabled]="sendEmailForm.invalid" type="submit"
                        class="btn-main transition-all  w-1/2 ">{{"forgetPass.submit"|translate}}
                        @if (isloding) {<i class="fa-solid fa-spinner fa-spin px-2"></i>}
                    </button>
                </div>


            </form>
        </div>

        <div>
            <div> <img class="p-20 animate__animated animate__fadeInLeft" src="./assets/images/auth/newpass.jpg"
                    alt="auth_resCode_img"> </div>
        </div>
    </div>

    }


</div>